<!DOCTYPE html>
<html lang="en">

<head>
    <title>SQLAdmin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/css/context-menu.css">
    <script src="/js/context-menu.js"></script>

    <%if (error != null) {%>
    <script language="javascript">
        alert('<%-error%>');
    </script>
    <%}%>
    <style>
        .list-table {
            height: 100vh;
            overflow-y: scroll;
        }
        .table-expand {
            border: none;
            width: 100%;
        }
        .table-expand tr {
            display: none;
            cursor: pointer;
        }
        .table-expand tr:hover {
            background-color: aquamarine;
        }
        .table-expand tr td {
            width: 100%;
            position: relative;
            height: 20px;
        }
        .table-expand tr.header {
            display: table-row;
            font-weight: bold;            
        }
        .table-expand tr td span {
            top: 0;
            position: absolute;
            left: 0;
            right: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }        
        .table-expand tr.body td span {
            padding-left: 10px;           
        }

        .text-sql {
            margin-top: 12px;
            width: 100%;
            height: calc(50vh);
            resize: none;
        }
        
        .btn-format {
            margin-top: 25px;
        }
    </style>
</head>

<body>
    <div class="col-sm-2">
        <div class="list-table">
            <% if (tableInfos) tableInfos.forEach(tableInfo => { %> 
                <table class="table-expand">
                    <tr class="header" title="<%= tableInfo.table.T_INFO_OBJECT %>">
                        <td>
                            <span><%= tableInfo.table.TABLE_NAME %></span>
                        </td></tr>
                    <%tableInfo.columns.forEach(column => { %>
                        <tr class="body">
                            <td data-placement="bottom" title="<%= column.T_INFO_OBJECT %>">
                            <span><%= column.COLUMN_NAME %></span>
                            </td>
                        </tr>    
                    <% }); %>
                </table>
            <% }); %>
        </div>
    </div>
    
    <div class="col-sm-10">
        <textarea class="text-sql" autofocus>
        </textarea>
        <div class="row form-row">
            <div class="form-group col-sm-4">
              <label for="sql-ip-start">Bắt đầu</label>
              <input type="text" class="form-control" id="sql-ip-start" placeholder="Bắt đầu">
            </div>
            <div class="form-group col-sm-4">
              <label for="sql-ip-end">Cuối</label>
              <input type="text" class="form-control" id="sql-ip-end" placeholder="Cuối">
            </div> 
            <div class="form-group col-sm-2">
              <label for="sql-ip-indent">Thụt lề</label>
              <input type="text" class="form-control" id="sql-ip-indent" value="4" placeholder="Thụt lề">
            </div>
            <div class="form-group col-sm-2">
                <button type="submit" class="btn btn-success btn-format">Format (Ctr + F)</button>
            </div>
        </div>
        <div class="row form-row">
            <div class='btn-supports'>
            </div>
        </div>
    </div>
</body>

<script>
    // Script support
    $.fn.selectRange = function(start, end) {
        if(end === undefined) {
            end = start;
        }
        return this.each(function() {
            if('selectionStart' in this) {
                this.selectionStart = start;
                this.selectionEnd = end;
            } else if(this.setSelectionRange) {
                this.setSelectionRange(start, end);
            } else if(this.createTextRange) {
                var range = this.createTextRange();
                range.collapse(true);
                range.moveEnd('character', end);
                range.moveStart('character', start);
                range.select();
            }
        });
    };
</script>

<script>
    /////////////////////////////////// Define button support ///////////////////////////////////
    let btnSupports = [
        {
            cursor: "SELECT\n\nFROM\n".length,
            text: "SELECT",
            textSupport: "SELECT\n\nFROM\n\nWHERE ",
            shortKey: "F1",
        },
        {
            cursor: "SELECT * FROM\n".length,
            text: "SELECT * ",
            textSupport: "SELECT * FROM\n\nWHERE ",
            shortKey: "F2",
        },
        {
            cursor: "DELETE FROM ".length,
            text: "DELETE",
            textSupport: "DELETE FROM  WHERE ",
            shortKey: "F3",
        },
        {
            cursor: "UPDATE ".length,
            text: "UPDATE",
            textSupport: "UPDATE  SET  WHERE ",
            shortKey: "F4",
        }
    ]
</script>

<script>
    var undoSql = [];
    var reduSql = [];
    $('.text-sql').val('');
    $('.table-expand tr').contextmenu(function() {
        return false;
    });
    $('.table-expand tr.header').mousedown(function (event) {
        switch (event.which) {
        case 1:
            $(this).nextUntil('tr.header').css('display', function (i, v) {
                return (this.style.display === 'table-row') ? 'none' : 'table-row';
            });
            break;
        case 2:
            break;
        case 3:
            let value = $(this).find('span').html();
            replaceValueTextArea(value);
            return false;
        default:
            break;
        }
    });
    $('.table-expand tr.body').mousedown(function (event) {
        switch (event.which) {
        case 1:
            break;
        case 2:
            break;
        case 3:
            let value = $(this).find('span').html();
            if (event.ctrlKey) {
                value += "";
            }
            else if (event.shiftKey) {
                value += " = ";
            }
            else {
                value += ",\n";
            }
            replaceValueTextArea(value);
            return false
        default:
            break;
        }
    });

    // Key active undo - redu
    var doActive = false;

    function undo() {
        if (reduSql.length == 0) {
            var selectionStart = $('.text-sql').prop("selectionStart");
            reduSql.push({text: $('.text-sql').val(), cursor: selectionStart});
        }
        if (doActive === true) {
            if (undoSql.length > 0) {
                let sqlStatusDo = undoSql.pop();
                $('.text-sql').val(sqlStatusDo.text);
                setCursorIndex(sqlStatusDo.cursor, 20);
                reduSql.push(sqlStatusDo);
            }
        }
        if (undoSql.length > 0) {
            doActive = false;
            let sqlStatusDo = undoSql.pop();
            $('.text-sql').val(sqlStatusDo.text);
            setCursorIndex(sqlStatusDo.cursor, 20);
            reduSql.push(sqlStatusDo);
        }
    }

    function redo() {
        if (doActive === false) {
            if (reduSql.length > 0) {
                let sqlStatusDo = reduSql.pop();
                $('.text-sql').val(sqlStatusDo.text);
                setCursorIndex(sqlStatusDo.cursor, 200);
                undoSql.push(sqlStatusDo);
            }
        }
        if (reduSql.length > 0) {
            doActive = true;
            let sqlStatusDo = reduSql.pop();
            $('.text-sql').val(sqlStatusDo.text);
            setCursorIndex(sqlStatusDo.cursor, 200);
            undoSql.push(sqlStatusDo);
        }
    }

    function createUndo() {
        var textSql = $('.text-sql').val();
        var selectionStart = $('.text-sql').prop("selectionStart");
        undoSql.push({text: textSql, cursor: selectionStart});
        reduSql = [];
    };

    function replaceValueTextArea(value) {
        var textSql = $('.text-sql').val();
        var selectionStart = $('.text-sql').prop("selectionStart");
        var selectionEnd = $('.text-sql').prop("selectionEnd");
        createUndo();
        var beforeSelect = textSql.slice(0, selectionStart);
        var afterSelect = textSql.slice(selectionEnd, textSql.length);
        var textSqlNew = beforeSelect + value + afterSelect;
        $('.text-sql').val(textSqlNew);
        setCursorIndex((beforeSelect + value).length, 10);
    }
    
    function setCursorIndex(cursor, time) {
        setTimeout(function() {
            $('.text-sql').focus();
            $('.text-sql').selectRange(cursor);
        }, time);
    }

    function setSelectAllText() {
        $('.text-sql').focus();
        $('.text-sql').selectRange(0, $('.text-sql').val().length);
    }

    $('.text-sql').keydown(function (event) {
        var selectionStart = $('.text-sql').prop("selectionStart");
        var selectionEnd = $('.text-sql').prop("selectionEnd");

        // Nút tab
        if (event.which === 9) {
            if (selectionStart === selectionEnd) {
                // Tab vị trí con trỏ
                replaceValueTextArea('    ');
            }
            
            return false;
        }

        // Shift tab
        if (event.which === 9 && event.shiftKey) {
            return false;
        }

        // Ctr + Z
        if (event.which === 90 && event.ctrlKey && !event.shiftKey) {
            undo();
            return false;
        }
        
        // Ctr + Shift + Z
        if (event.which === 90 && event.ctrlKey && event.shiftKey) {
            redo();
            return false;
        }
        
        // Ctr + Y
        if (event.which === 89 && event.ctrlKey) {
            return false;
        }

        // Ctr + F
        if (event.which === 70 && event.ctrlKey) {
            // Format sql
            formatSql();
            return false;
        }

        // Buton support
        let buttonSuport = getButtonFromShortKey(event.key);
        if (buttonSuport !== null) {
            processButtonSupport(buttonSuport);
            return false;
        }
    });

    $('.text-sql')
    .bind("dragover", false)
    .bind("dragenter", false)
    .bind("drop", function(e) {
        var textSelectedDrop = e.originalEvent.dataTransfer.getData("text") || e.originalEvent.dataTransfer.getData("text/plain");
        var splitTextSelected = textSelectedDrop.split("\n");

        if (splitTextSelected.length <= 0) {
            return false;
        }

        if (splitTextSelected.length === 1) {
            replaceValueTextArea(splitTextSelected[0]);
            return false;
        }
        
        let textJoin = "";
        for(let idx = 0; idx < splitTextSelected.length; idx++) {
            let text = splitTextSelected[idx];
            if (idx === splitTextSelected.length - 1) {
                textJoin += text;
                break;
            }
            text = text.trim();
            text += ',';
            text += '\n'
            textJoin += text; 
        }
        replaceValueTextArea(textJoin);            
        return false;
    });
    
    //////////////////////////////// Format Sql ////////////////////////////////

    $('.btn-format').click(function(event) {
        formatSql();
    });

    function formatSql() {
        let startSql = $('#sql-ip-start').val();
        let endSql = $('#sql-ip-end').val();
        let indentSql = $('#sql-ip-indent').val();
        let contentSql = $('.text-sql').val();
        let dataPost = {
            start: startSql,
            end: endSql,
            indent: indentSql,
            content: contentSql
        }

        $.ajax({
            url: "/api/sql/format",
            type: "post",
            data: dataPost ,
            success: function (res) {
                if (res.code !== 0) {
                    alert(res.content);
                    return;
                }

                setSelectAllText();
                replaceValueTextArea(res.content);
                
                // if ($("#sql-ip-chk-auto-select-all").is(":checked")) {
                //     $('#sql-res-content').focus();
                //     $('#sql-res-content').select();
                // }

                // if ($("#sql-ip-chk-auto-copy").is(":checked")) {
                //     $('#sql-res-content').focus();
                //     $('#sql-res-content').select();
                //     document.execCommand('copy');
                // }
            },
            error: function(err) {
                alert(err.statusText + ": " + err.status);
            }
        });
    }


    //////////////////////////////// Button support ////////////////////////////////
    createButtonSupport();
    function createButtonSupport() {
        for(let idx = 0; idx < btnSupports.length; idx++) {
            let button = btnSupports[idx];
            let buttonSupport = '<button data-id=' + idx + ' >' + button.shortKey+ ': ' + button.text + '</button>'
            $(".btn-supports").append(buttonSupport);
        }
    }

    function processButtonSupport(button) {
        // Lưu vị trí con trỏ trước đó
        var selectionStart = $('.text-sql').prop("selectionStart");
        let textSql = $('.text-sql').val();
        var beforeSelect = textSql.slice(0, selectionStart);
        replaceValueTextArea(button.textSupport);

        // Chuyển con trỏ
        setCursorIndex(beforeSelect.length + button.cursor, 200);
    }

    function getButtonFromShortKey(key) {
        let buttonGet = null;
        btnSupports.forEach(button => {
            if (button.shortKey == key) {
                buttonGet = button;
                return;
            }
        });
        return buttonGet;
    }

    $('.btn-supports').on('click', 'button', function(event) {
        // Set code hổ trợ vào theo button
        let button = btnSupports[$(this).attr('data-id')];
        processButtonSupport(button);
    });

    let menus = [
        {
            key: "acronym_column",
            text: "Thêm ký tự viết tắt column"
        }
    ];
    setContextMenu($('.text-sql'), menus, function(item) {
        switch (item) {
            case "acronym_column":
                var acronym_column = prompt("Nhập ký tự viết tắt cho column", "tb");
                if (acronym_column == null) {
                    return;
                }
                console.log(acronym_column);   
            break;
        }
    });
</script>
</html>